# transformers==4.41
transformers==4.44.2
pandas
numpy
torch
evaluate
accelerate
SentencePiece
jieba
rouge
fuzzywuzzy
python-Levenshtein
protobuf
-i https://pypi.org/simple/ bitsandbytes
openai
anthropic
seaborn
matplotlib

# minference
--config-settings=--no-build-isolation git+https://github.com/microsoft/MInference.git@yucheng/kvcompression